        .navbar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: tan;
        }
        .section{
            display: flex;
            width: 300px;
            justify-content: space-evenly;
            background-color: bisque;
        }
        .image{
            width: 100%;
            height: 500px;
        }